.header {
    &__menu {
        position: fixed;
        width: 100vw;
        z-index: 10;
        padding: 10px 0;

        select {
            width: 60px;
            padding: 5px 0;
            border-radius: 6px;
            border: none;
            background-color: white;
            font-size: 18px;
            cursor: pointer;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &__list {
            display: flex;
            gap: 10px;

            p {
                font-size: 12px;
                line-height: 18px;
            }

            p:hover {
                color: #AB7A19;
            }

            p:hover {
                color: #53B175;
            }
        }
    }

    &__right {
        &__list {
            display: flex;
            align-items: center;
            gap: 18px;

            li:nth-child(1),
            li:nth-child(2) {
                border-right: 1px solid rgb(65, 163, 65);
                padding-right: 20px;
            }
        }

        p {
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__locationIcon,
    &__personIcon {
        width: 18px !important;
        height: 18px !important;
        margin-bottom: -3px;
        margin-left: 10px;
    }

    &__kirish {
        cursor: pointer;
    }

    &__link {
        h3 {
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            margin-bottom: 15px;
        }

        padding-top: 30px;

        &__container {
            display: grid;
            grid-template-columns: 1fr 5fr;
            align-items: center;
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            // gap: 110px;
        }

        &__list {
            display: flex;
            gap: 30px;

            p {
                color: rgb(36, 31, 31);
            }

            p:hover {
                color: #AB7A19;
            }
        }
    }

    &__icons {
        display: flex;
        gap: 20px;

        &__child {
            width: 40px !important;
            height: 40px !important;
            padding: 5px;
            background-color: white;
            border-radius: 50%;
        }
    }

    &__openKirish {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #00000078;
    }
}

.navActive p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: black;
    border-bottom: 3px solid #205132;
    padding-bottom: 10px;
}